*.html
build/
*.cpp
*.c
*.pyd
.vscode/
.idea/
.VSCodeCounter/
.pytest_cache/
__pycache__/
fig/
decreapted/
*.png
!demo/demo.png
*.lp
*.sol
*.ipynb
*.svg
*.tif
*.tiff
/test.py
*.log
*-result.txt
result.txt
tmp.txt
*.prof
*.so
/*.pdf
*.dat
main.py
obj/
*.so
*.a
/app